.gutter {
  /* background-color: #eee; */
  background-color: hsl(225, 6%, 13%);
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}

.gutter.gutter-vertical {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
  cursor: row-resize;
}

.editor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: hsl(225, 6%, 25%);
  padding: 0.5rem;
}

.editor__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(225, 6%, 13%);
  color: white;
  padding: 0.5rem 0.8rem 0.5rem 1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.editor__header > button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.2rem;
  padding: 0.1rem;
  cursor: pointer;
}

.CodeMirror {
  height: 100% !important;
  overflow: hidden !important;
}

.CodeMirror-vscrollbar {
  overflow: hidden !important;
  display: none !important;
}

.editor__codemirror {
  flex-grow: 1;
  overflow: hidden;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
